@{
    Layout = "~/_LayoutMain.cshtml";
    Page.Title = "数据库访问";
}

<h1>
    实体测试：
    @Model.Dept.DeptId
    <span>-</span>
    @Model.Dept.DeptName
    <span>-</span>
    @Model.Dept.DeptInfo
    <span>-</span>
    数据库：@Model.DataBase
    <br />
    获取类信息:
    @foreach (var key in Model.Properties.Keys)
    {
        @key<span>-</span>@Model.Properties[key]<br />
    }
    <br />
    数据库查询<br />
    @foreach (var dept in Model.DeptList)
    {
        @dept.DeptId<span>-</span>
        @dept.DeptName<span>-</span>
        @dept.DeptInfo<br />
    }
    <br />
    数据行数：@ViewBag.Count
    <br />
    影响行数：@ViewBag.UpdateCount
    <br />
</h1>
